.bg_color_banner_hero{
    background-color: rgb(196, 225, 204);
    width: 100%;
    height: 417px;
    margin-top: 73px;
    border-radius: 20px;
}

.banner_text_content_one {
    padding-top: 83px;
    padding-left: 78px;
    display: flex;

}

.banner_text_content_one h2 {
    color: rgb(37, 61, 78);
    font-family: "Quicksand";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 529px;
}

.banner_text_content_one p {
    margin-top: 20px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.banner_text_content_one span {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(59, 183, 126);
}

.banner_form {
    position: relative;
    display: flex;
    align-items: center;
    margin-top:46px ;
}

.banner_form input {
    border-radius: 50px;
    width: 473px;
    background: rgb(255, 255, 255);
    color: rgb(131, 131, 131);
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 23px 58px;
    border: none;
}

.banner_form button {
    position: absolute;
    left: 290px;
    border-radius: 50px;
    background: rgb(245, 62, 50);
    color: rgb(255, 255, 255);
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 22px 40px;
    border: none;
    height: 65px;
}

.img_wrapper_bnaner{
    display: flex;
    justify-content: center;
    margin-top: -80px;
    margin-left: 80px;
}

.img_wrapper_bnaner img{
    object-fit: contain;
    width: 400px;
    height: 400px;

}

