.admin_text_content_h1 {
    color: rgb(33, 37, 41);
    font-family: "Manrope";
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.48px;
    text-align: left;
    margin-top: 102px;
    margin-bottom: 23px;
}

.admin_text_content {
    display: flex;
}

.big_text_content_admin p {
    color: rgb(122, 122, 122);
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 24.5px;
    letter-spacing: 0.48px;
    text-align: left;
    width: 621px;
    margin-bottom: 28px;

}

.imgs_admin_wrapper img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}