.footer_card {
    border-radius: 10px;
    background: rgb(244, 246, 250);
    width: 321px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 23px 20px ;
}


.footer_card p {
    color: rgb(36, 36, 36);
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom:5px ;
   max-width: 170px;
}

.footer_card span {
    color: rgb(173, 173, 173);
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.footer_card_flex{
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 40px;
}